<div id="page-content">


	<div class="container" id="home-container">
		<div class="bg-image p-5 text-center rounded mb-5 text-white" id="jumbo">
		  <div class="container-fluid py-5">
		    <h1 class="display-5 fw-bold">Alpha Blog</h1>
		    <br/>
		    <br/>
		    <button class="btn btn-success btn-lg" type="button">Sign Up</button>
		  </div>
		</div>
	</div>

</div>


</div>





