<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small class="text-white">Copyright &copy; <%= link_to "Vincy", "https://github.com/vincyxia", class: "text-white" %></small>
  </div>
</footer>